@use "../utils/variables" as *;

.footer {
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  justify-content: center;
  margin-top: 90px;
  padding: 55px 20px;
  border-top-right-radius: 80px;
  background-color: $Very-Dark-Black-Blue;
  text-align: center;
  gap: 40px;
  justify-items: center;

  .logo {
    margin-bottom: 30px;
  }

  @media (min-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  @media (min-width: 800px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, minmax(50px, 250px));
  }

  &__links {
    &Name {
      margin-bottom: 20px;
      color: $White;
    }

    &List {
      list-style: none;

      &Item {
        padding: 3px;

        @media (min-width: $Breakpoint) {
          padding: 6px;
        }

        &Link {
          color: $Grayish-Blue;
          text-decoration: none;

          &:hover,
          &:focus,
          &:active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
