@use "./utils/variables" as *;
@use "./layouts/header";
@use "./layouts/nav";
@use "./layouts/content";
@use "./layouts/section";
@use "./layouts/article";
@use "./layouts/footer";
@use "./components/button";
@use "./components/logo";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: $Very-Dark-Grayish-Blue;
  font-family: "Overpass", sans-serif;
  font-size: $Font-Size;
}
